<section id="custom_block">
    {% if title_block %}
        <h2 style="color: red; text-align: {{ position_title }};"> {{ title_block }}</h2>
    {% endif %}

    {% if image_block %}
        <img src="{{ image_block }}" alt="{{ 'Custom Image'|t }}" title="{{ 'Custom Image'|t }}" class="img-responsive" />
    {% endif %}

    {% if body_block %}
        <p>{{ body_block }}</p>
    {% endif %}
</section>